<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mglf.dao.SupplierMapper" >
  <resultMap id="SupplierResultMap" type="com.mglf.entity.Supplier" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="VARCHAR" />
    <result column="entid" property="entid" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="entname" property="entname" jdbcType="VARCHAR" />
    <result column="linkphone" property="linkphone" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectBy" resultMap="SupplierResultMap" parameterType="map" >
    select * 
    from t_supplier
    where 1=1 
    <if test="id!=null and id!=''">
        and id = #{id,jdbcType=VARCHAR}
    </if>
    <if test="entid!=null and entid !=''">
        and entid = #{entid,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_supplier
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mglf.entity.Supplier" >
    insert into t_supplier (id, num, address, entid,
      name, entname, linkphone, 
      create_date, create_user, update_date, 
      update_user)
    values (#{id,jdbcType=VARCHAR}, #{num,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},  #{entid,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{entname,jdbcType=VARCHAR}, #{linkphone,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.mglf.entity.Supplier" >
    update t_supplier
    <set >
      <if test="num != null" >
        num = #{num,jdbcType=VARCHAR},
      </if>
       <if test="entid != null" >
        entid = #{entid,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="entname != null" >
        entname = #{entname,jdbcType=VARCHAR},
      </if>
      <if test="linkphone != null" >
        linkphone = #{linkphone,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mglf.entity.Supplier" >
    update t_supplier
    set num = #{num,jdbcType=VARCHAR},
      entid = #{entid,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      entname = #{entname,jdbcType=VARCHAR},
      linkphone = #{linkphone,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="selectMaxNum" parameterType="String" resultMap="SupplierResultMap">
      select * from t_supplier where entid=#{entid} order by num limit 0,1      
  </select>
  
  
  
  
  
</mapper>