.m-l-25p {
  margin-left: 25%;
}
.m-b-20x {
  margin-bottom: 20px;
}
.m-b-10x {
  margin-bottom: 10px;
}
.p-t-4x {
  padding-top: 4px;
}
.f-l {
  float: left;
}
.p-a {
  position: absolute;
}
.z-100 {
  z-index: 100;
}
.mglf-header {
  position: fixed;
  width: 100%;
}
.mglf-content {
  position: relative;
  top: 45px;
}
